{% extends 'base.html' %}
{% block user_image %}<img id="use_image"  style="position:relative;float:right; top:0px;margin-right:10px;" src="/static/static/images/use.jpg" />{% endblock %}
{% block logout %}<p style="position:relative;float:right;margin:0px;"><font style="color:red;font-family:serif;font-size:170%;margin:0px;float:top;">{{ user.username }}</font><a href="/ganam/logout/">Logout</a></p> {% endblock %}
{% block content %}
{% block hits %}
<div id ="user_library">
	<p class="user_songs"><font style="color:red;">Top </font>{% block query %}{{ tu }}{% endblock %} Songs</p>	
	{% for t in sele%}
			<a href="/ganam/article/{{ t.id}}/"><img id="user_image" style="position:absolute;margin:10px;" src="/static/static/images/cd.jpg" /></a>
			<div id ="library_songs" style="color:green; margin-left:40px; padding:0px;">
				<font style="color:green;"><h4 class="h1">{{t.track}}</h4></font>
				<font style="color:black;"><p>{{t.genre }}</p></font>
			</div>
			
	{%  endfor %}
	</div>
{% endblock %}	
	<div id="albums">
	<h3 style="margin:0px;">Results for <strong>{{ tu }}</strong> Songs</h3> 
	{% for f in select %}
		<div id=album_list>		
			<a href="/ganam/article/{{ f.id}}/"><img id="album_image" src="/static/static/images/play.jpg" /></a>		
			<div id="album_songs">		
				<font style="color:green; margin:0px; padding:0px;"><h2 class="h1">{{f.track}}</a></h2></font>
				<p id="details">{{f.genre }} {{f.album }} {{f.artist1 }} </p>  			
			</div>
			<input id="add" type="image" name="submit" src="static/static/images/sum.jpg" border="0" alt="Submit" />  
		</div>	
	{%  endfor %}
	</div>
{% endblock %}
